[user]
name = Brad Simantel
email = brad@ottter.com

[alias]
undo = reset --soft HEAD~1

[diff]
tool = nvimdiff

[merge]
tool = nvimdiff

[mergetool "nvimdiff"]
path = nvim

[core]
excludesfile = ~/.globalgitignore

[init]
defaultBranch = main

[push]
autoSetupRemote = true
