[user]
name = Brad Simantel
email = brad@simantel.org

[alias]
undo = reset --soft HEAD~1

[mergetool "vscode"]
cmd = code --wait $MERGED

[merge]
tool = vscode

[difftool "vscode"]
cmd = code --wait --diff $LOCAL $REMOTE

[diff]
tool = vscode

[core]
excludesfile = ~/.globalgitignore
editor = code --wait --new-window

[init]
defaultBranch = main

[push]
autoSetupRemote = true
